asgiref==3.11.1
boto3==1.40.17
botocore==1.40.17
Brlapi==0.8.5
cairocffi==1.3.0
CairoSVG==2.7.0
cffi==2.0.0
charset-normalizer==2.1.0
configshell-fb==1.1.29
crispy-bootstrap5==2026.3
cryptography==45.0.4
cssselect2==0.6.0
cupshelpers==1.0
dbus-python==1.3.2
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
distro==1.9.0
Django==5.2.13
django-crispy-forms==2.6
dnspython==2.6.1
file-magic==0.4.0
freerdpgui==3.5
fros==1.1
gpg==1.17.1
idna==3.8
jmespath==1.0.0
join_to_domain==1.2.3
kmod==0.1
libcomps==0.1.18
loginfo==1.3
lxml==4.9.3
Markdown==3.10
nftables==0.1
olefile==0.46
packaging==25.0
pdfarranger==1.8.2
perf==0.1
pexpect==4.8.0
pikepdf==5.6.1
pillow==12.1.1
ply==3.11
ptyprocess==0.6.0
pycairo==1.23.0
pycparser==2.20
pycups==2.0.1
pycurl==7.45.6
pydbus==0.6.0
PyGObject==3.48.2
pyinotify==0.9.6
pyparsing==3.1.4
PyQt5==5.15.10
PyQt5_sip==12.13.0
PyQt6==6.6.1
PyQt6-sip==13.6.0
pysmbc==1.0.23
PySocks==1.7.1
pystemd==0.10.0
pystray==0.17.3
python-augeas==1.1.0
python-dateutil==2.8.2
python-gettext==4.0
python-linux-procfs==0.7.0
python-manatools==0.0.4
python-pam==2.0.2
python-xlib==0.31
pyudev==0.23.2
pyxdg==0.27
PyYAML==6.0.3
redoswelcome==2.6
reportlab==3.6.12
requests==2.32.4
rpm==4.18.2
rtslib-fb==2.1.75
s3transfer==0.13.1
selinux @ file:///builddir/build/BUILD/libselinux-3.5/src
sepolicy @ file:///builddir/build/BUILD/selinux-3.5/python/sepolicy
setools==4.4.3
share_directory==6.5.3
six==1.17.0
sos==4.10.0
sqlparse==0.5.5
systemd-python==235
targetcli-fb==2.1.54
tinycss2==1.1.1
urllib3==2.6.3
urwid==2.1.2
usb_rules==3.3
webencodings==0.5.1
wrapt==1.14.0
xcffib==0.11.1
gunicorn
whitenoise